@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-200 h-full overflow-x-hidden;
}

#__next {
  @apply h-full;
}

html {
  @apply h-full;
}

@layer base {
  html {
    font-family: 'EB Garamond', serif;
  }

  #active::after {
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    background-color: #14b8a6;
    transform: scale(1);
  }

  #active {
    color: white
  }

  .element:hover::after {
    transform: scaleX(1);
  }
}